<%- include("./partials/header.ejs") %>

  <!-- HERO SECTION STARTS -->
  <section class="h-3/4 relative" style="background: #254D56;">
    <div class="absolute bottom-0 h-5/6 w-5/6" style="background: #12262B;transform: rotate(-2.29deg)"></div>
    <div class="absolute bottom-0 h-5/6 w-5/6" style="background: #2B5964;transform: rotate(-0.92deg)"></div>
    <div class="absolute bottom-0 right-2 h-5/6 w-5/6" style="background: #12262B;transform: rotate(2.69deg)"></div>
    <div class="absolute bottom-0 right-2 h-5/6 w-5/6" style="background: #2B5964;transform: rotate(1.42deg)"></div>
    <div class="absolute h-full w-full px-4 md:px-36 py-8 flex justify-center" style="background: #254D56;">
      <div class="w-7/12 pt-10">
        <h1 class="text-9xl text-white font-black">HOSTEL</h1>
        <h1 class="text-6xl text-white font-black pt-4">AFFAIRS BOARD</h1>
      </div>
      <div class="w-5/12">
        ANNOUNCEMENTS
      </div>
    </div>
  </section>
  <!-- HERO SECTION ENDS -->

  <!-- NOTICES SECTION STARTS -->
  <section id="notices" class="text-gray-600 body-font md:px-32 py-12">
    <h1 class="text-3xl font-bold">NOTICES</h1>
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap -mx-4 -my-8">
        <% notices.forEach((notice)=>{ %>
          <div class="py-8 px-4 lg:w-1/3">
            <div class="h-full flex items-start">
              <div class="w-12 flex-shrink-0 flex flex-col text-center leading-none">
                <span class="text-gray-500 pb-2 mb-2 border-b-2 border-gray-200">
                  <%= notice.creation.toString().split(" ")[1] %></span>
              <span class=" font-medium text-lg text-gray-800 title-font leading-none">
                    <%= notice.creation.toString().split(" ")[2] %></span>
            </div>
            <div class=" flex-grow pl-6">
                      <h2 class="tracking-widest text-xs title-font font-medium text-indigo-500 mb-1">CATEGORY</h2>
                      <h1 class="title-font text-xl font-medium text-gray-900 mb-3">
                        <%= notice.title %>
                      </h1>
                      <p class="leading-relaxed mb-5">
                        <%= notice.description %>
                      </p>
                      <a class="inline-flex items-center">
                        <span class="flex-grow flex flex-col pl-3">
                          <a href="/notice/<%=notice.id%>" target="_blank"><button
                              class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 rounded">Notice</button></a>
                        </span>
                      </a>
              </div>
            </div>
          </div>
          <% }) %>
      </div>
    </div>

  </section>
  <!-- NOTICES SECTION ENDS -->

  <%- include("./partials/footer.ejs") %>